@model List<Author>
@{

}

<h1> List of Authors</h1> <br />

<a asp-action="add" asp-controller="authors">Add New author</a>

<table class="table table-bordered">
    <tr>
        <td>Author Id</td>
        <td>Author Name</td>
        <td>Author Age</td>
        <td></td>
    </tr>
    @foreach (Author author in Model)
    {
    <tr>
        <td>@author.AuthorId</td>
        <td>@author.AuthorName</td>
        <td>@author.AuthorAge</td>
        <td>
            <a asp-action="edit" asp-controller="authors" asp-route-id="@author.AuthorId">Edit</a> &nbsp;
            <a asp-action="delete" asp-controller="authors" asp-route-id="@author.AuthorId">Delete</a> &nbsp;
        </td>
    </tr>
    }
</table>